<html> 
<head> 
	<script> 
		function turnOn(){
			var img = document.getElementById("image");
			img.src="../simulator_images/MicrowaveOn.jpg";
			return false;
		}
		function turnOff(){
			var img = document.getElementById("image");
			img.src="../simulator_images/MicrowaveOff.jpg";
			return false;
		}
	</script>

</head>
<body>
	<img id="image" src="images/MicrowaveOff.jpg" />
	<br><br><br>
	<button id="clickme" onclick="turnOn();">Turn On Microwave</button>
	<button id="clickme" onclick="turnOff();">Turn Off Microwave</button>
</body>
</html>